/* General Styling */
body {
    background-image: url("/static/img/bkgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

    /* Main Button used throughout the webpage */
.button {
    background-color: #3f6335;
    border-radius: 28px;
}

.button:hover {
    color: #ffffff;
     background-color: #ff9e01;
}

/* Navbar Styling */
.nav-wrapper {
    background-color: #adbf51;
    color: #ffffff;
}

.navbutton:hover {
     color: #ffffff;
     background-color: #ff9e01;
     border-radius: 23px;
}

.brand-logo {
    font-family: 'Sriracha', cursive;
}

    /* On Medium and small screens- side nav */


/* Home page styles */
.home-jumbotron {
    background-image: url("/static/img/boba.jpg");
    width:100%;
    height:35em;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 8em;
}

.home-jumbotron h1 {
    font-family: 'Sriracha', cursive;
    font-size: 5em;
}

.home-jumbotron p {
    font-size: 2em;
}

.about {
    margin-top: 15px; 
}

.about-text {
    font-family: 'Sriracha', cursive;
}

.about-text h4 {
    font-size: 40px;
}

.aboutImg {
    width: 20em;
    height: 15em;
}

#yummy {      
    text-align: center;
}

.yummy {
    font-family: 'Sriracha', cursive;
    font-size: 1.5em
}


/* Drinks Page */
.page-title {
    font-family: 'Sriracha', cursive;
}


.card-title {
    font-family: 'Sriracha', cursive;
    font-size: 2em;
    color: #ff9e01;
}


/* Individual Drink page */


/* Styles to apply to edit and add drink pages */ 

select {
    display: inline-block !important;
}

/* Footer- Will be seen on all pages */
.page-footer {
    background-color: #adbf51;
}