/* General Styling */
body {
    background-image: url("/static/img/bkgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.button {
    background-color: #3f6335;
}

/* Navbar Styling */
.nav-wrapper {
    background-color: #adbf51;
    color: white;
}


/* Home page styles */
.home-jumbotron {
    background-image: url("/static/img/boba.jpg");
    width:100%;
    height:35em;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 8em;
}

.home-jumbotron h1 {
    font-family: 'Sriracha', cursive;
}

.about {
    margin-top: 15px; 
}

.aboutImg {
    width: 20em;
    height: 15em;
}

#yummy {      
    text-align: center;
}

.anatomyImg {
    width: 20em;
    height: 30em;
}


/* Drinks Page */
.page-title {
    font-family: 'Sriracha', cursive;
}

/* Footer */
.page-footer {
    background-color: #adbf51;
}