{% extends 'base.html' %} 
{% block title %}Add Tea{% endblock %}
{% block content %}
<!--If the user is logged in, they can add a drink to the database-->
<div class="container">
  <div class="row">
  <div class="col s12">
  <h2>Welcome! Please create your favorite Boba tea drink to share with others!</h2>
    </div>
    </div>
    <form action="{{ url_for('insert_drink') }}" method="POST">
      
      <!--Drink Name-->
    <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Drink Name" name="drinkName" id="drink-name" type="text" class="validate" required>
          <label for="drinkName">Drink Name</label>
        </div>
    </div>
      <!--Drink Type (ie. Milk Tea, Classic Tea, Slushie)-->
      <div class="row">
        <div class="input-field col s12 m4">
            <select class="icons">
                 <option value="" disabled selected>Choose a Drink Type</option>
                 {% for drink_type in drinks %}
                 <option value="{{drink_type.drinks}}">{{drink_type.drinks}}</option>
                 {% endfor %}
            </select>
            <label>Drink Type</label>
        </div>

    <!--Tea Type (ie. Black, Green, Oolong, Fruit)-->
        <div class="input-field col s12 m4">
            <select class="icons">
                <option value="" disabled selected>Choose a Tea Type</option>
                {% for tea_type in teas %}
                 <option value="{{tea_type.teas}}">{{tea_type.teas}}</option>
                {% endfor %}
            </select>
            <label>Tea Type</label>
        </div>

     <!--Caffeine? True or False Value-->
        <div class="switch col s12 m4" name="decaf">
            <label>
            <input type="checkbox" id="is_decaf" name="is_decaf">
            <span class="lever"></span>
                Decaf?
            </label>
        </div>
    </div>
     <!--Topping Type-->
     <div class="row">
        <div name="topping col s12">
            <h4>Choose a topping</h4>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Tapioca Pearls</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Jellies</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Popping Boba</span>
                </label>
            </p>
        </div>
    </div>
     <!--Sweetness Level-->
     <div class="row">
        <div name="sweet_level col s12 m6">
        <h4>Choose your sweetness level</h4>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>0%</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>50%</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>75%</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>100%</span>
                </label>
            </p>
        </div>

    <!--Ice Level-->        
        <div name="ice col s12 m6">
            <h4>Choose your ice level</h4>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>0%</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>50%</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="sweet" type="radio" />
                    <span>100%</span>
                </label>
            </p>
        </div>
    </div>
     <!--Add Picture, optional-->
     <div class="row">
        <div class="input-field col s12">
          <label for="addDrinkImage">Drink Picture</label>
          <input type="file" class="form-control-file" id="addDrinkImage">
        </div>
     </div>
      <!--Submit Button-->
      <div class="row">
        <div class="col-12 center-align">
         <a href="{{url_for('insert_drink', drink_id=boba._id)}}" class="waves-effect waves-light btn" type="submit" name="action"><i class="material-icons right">add</i>Add Bubble Tea</a>
        </div>
    </div>
    </form>
  </div>
{% endblock %}