{% extends 'base.html' %} 
{% block title %}Browse Teas{% endblock %}
{% block content %}
<!--To view our database of bubble tea drinks-->
<div class="row center-align">
   <div class="col-12">
      <h1 class="page-title">Bubble Teas</h1>
   </div>
</div>
<!--Search by filtering drink options-->
<div class="row">
<form id="filter_form" method="POST" action="{{ url_for('get_drink') }}">
   <div class="input-field col s12">
      <select multiple>
         <option value="" disabled selected>Filter</option>
         <option value="1">Drink Type</option>
         <option value="2">Tea Type</option>
         <option value="3">Toppings</option>
      </select>
      <!--How to use our filter instructions-->
      <label>Filter By One Category</label>
   <!--Submit Button-->
   <div class="row submit-button-wrapper">
      <div class="col s6">
         <button id="filter_btn" class="btn" type="submit" aria-label="Filter button">
         <span class="hide-on-small-and-down">Filter</span>
         <i class="material-icons right">filter_list</i>
         </button>
      </div>
      <!--Reset Button-->
      <div class="col s6">
         <a class="btn" href="{{ url_for('get_drink') }}" aria-label="Reset page button">
         <span class="hide-on-small-and-down">Reset</span>
         <i class="material-icons right">undo</i>
         </a>         
        </div>
      </div>
   </div>
</form>
</div>
{% for drink in drinks %}
<div>
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="{{ drink.drinkImage }}" alt="{{ drink.drinkName }}" class="circle">
      <span class="title">{{drink.drinkName}}</span>
      <a href="{{ url_for('drink', drink_name=item_value['_id'] ) }}"><h5 class="card-title">{{ item_value["name"] }}</h5></a>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>
{% endfor %}
{% endblock %}