{% extends 'base.html' %} 
{% block title %}Browse Teas{% endblock %}
{% block content %}
<!--To view our database of bubble tea drinks-->
<div class="row center-align">
   <div class="col-12">
      <h1 class="page-title">Bubble Teas</h1>
   </div>
</div>
    
<!--Search by filtering drink options-->
<div class="row">
   <form id="filter_form" action="{{ url_for('search') }}"  method="POST">
      <div class="input-field col s12 m6">
         <input type="text" id="query" name="query" minlength="3" class="validate" required>
         <label for="query">Search Drinks</label>
         <!--Submit Button-->
         <div class="row submit-button-wrapper">
            <div class="col s6 m4">
               <input type="submit" id="filter_btn" class="button btn" aria-label="Search button"/>
            </div>
            <!--Reset Button-->
            <div class="col s6 m4">
               <a class="btn button refresh-btn" href="{{ url_for('get_drink') }}" aria-label="Reset page button">
               <span>Reset</span>
               <i class="material-icons right">undo</i>
               </a>         
            </div>
         </div>
      </div>
   </form>
</div>

 <!--WITHOUT SEARCH-->
<div class="row center-align collections-row">
   {% for boba in boba %}
   <div class="col s12 m6 l4">
      <ul class="collection">
         <li class="collection-item collection-circle hoverable avatar">
            <img src="static/img/logo.jpg" alt="Boba" class="circle collection-img">
            <a class="title" href="{{ url_for('see_one', boba_id=boba._id)}}">
               <h5 class="card-title drink-card-title">{{ boba.drink_name }}</h5>
            </a>
            <p>{{ boba.drink_type }} <br>
               {{ boba.tea_type }} <br>
               {{ boba.top }}
            </p>
         </li>
      </ul>
      </div>
       {% endfor %}
</div>
{% endblock %}