<!-- Modal for delete-->
  <div id="delete_modal" class="modal">
    <div class="modal-content">
      <h4>{{boba.drink_name}}</h4>
      <p>Are you sure you want to delete this drink?</p>
    </div>
    <div class="modal-footer">
       <button type="button" href="{{url_for('get_drink')}}" class="btn waves-effect waves-green btn-flat" >Ooops- take me back!</button>
       <a id="delete_location" class="modal-close waves-effect waves-green btn-flat" href="{{url_for('delete_drink', boba_id=boba._id)}}" role="button">Delete this Drink</a>
    </div>
  </div>