{% extends 'base.html' %}
{% block content %}
<div class="drink-card-page">
   <div id="drinkResponse" class="row view-drink">
      <div class="col s12 m3">
         <img src="/static/img/anatomy.jpg" alt="Drink Image" class="drink-img">
      </div>
      <div class="col s12 m9">
         <h3 class="bold-headers drink-name">{{ boba.drink_name }}</h3>
      </div>
   </div>
   <h4 class="bold-headers">Drink Details:</h4>
   <div class="divider divider-drink"></div>
   <div class="row">
      <div class="col s6 m4 ">
         <ul class="ingredients-list">
            <li>
               <p>Drink Type:</p>
               <h5 class="drinkType data">{{ boba.drink_type }}</h5>
            </li>
            <li>
               <p>Tea Type:</p>
               <h5 class="teaType data">{{ boba.tea_type }}</h5>
            </li>
         </ul>
      </div>
      <div class="col s6 m4 ">
         <ul>
            <li>
               <p>Is this drink Decaf?</p>
               {% if boba.decaf == "on" %}
               <h5 class="data">Yes</h5>
               {% else %}
               <h5 class="data">No</h5>
               {% endif %}
            </li>
            <li>
               <p>Toppings:</p>
               <h5 class="topping data">{{ boba.top }}</h5>
            </li>
         </ul>
      </div>
      <div class="col s6 m4">
         <ul>
            <li>
               <p>Sweetness Level:</p>
               <h5 class="sweet data">{{ boba.sweet }}</h5>
            </li>
            <li>
               <p>Ice Level:</p>
               <h5 class="ice data">{{ boba.ice }}</h5>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col s12 m6 center-align">
         <a href="{{url_for('edit_drink', boba_id=boba._id)}}" class="button waves-effect waves-light btn" id="edit-button" type="submit" name="action"><i class="material-icons right">add</i>Edit Bubble Tea</a>
      </div>
      <div class="col s12 m6 center-align">
         <a href="{{url_for('get_drink')}}" class="button waves-effect waves-light btn" id="back-button">Back to search</a>
      </div>
   </div>
</div>
{% endblock %}