{% extends 'base.html' %}
{% block content %}
<div id="drinkResponse" class="row view-drink">
    <div class="col s12 m6 center">
        <h3 class="bold-headers">{{ boba.drink_name }}</h3>
    <div class="col s12 m6">
        <h4 class="bold-headers">Drink Type</h4>
        <ul class="ingredients-list">
            <li>
                <p>Drink Type:</p>
                <h5 class="drinkType">{{ boba.drink_type }}</h5>
            </li>
            <li>
                <p>Tea Type:</p>
                <h5 class="teaType">{{ boba.tea_type }}</h5>
            </li>
            <li>
                <p>Is this drink Decaf?</p>
                {% if boba.decaf == "on" %}
                <span>Yes</span> 
                {% else %}
                <span>No</span> 
                {% endif %}
            </li>
            <li>
                <p>Toppings:</p>
                <h5 class="topping">{{ boba.top }}</h5>
            </li>
            <li>
                <p>Sweetness Level:</p>
                <h5 class="sweet">{{ boba.sweet }}</h5>
            </li>
            <li>
                <p>Ice Level:</p>
                <h5 class="ice">{{ boba.ice }}</h5>
            </li>
        </ul>
    </div>
    <div class="col-12 center-align">
         <a href="{{url_for('edit_drink', boba_id=boba._id)}}" class="waves-effect waves-light btn" type="submit" name="action"><i class="material-icons right">add</i>Edit Bubble Tea</a>
         <a href="#modal1" class="waves-effect waves-light btn" type="submit" name="action"><i class="material-icons right">add</i>Delete Bubble Tea</a>
    </div>
    <div class="col-6">
        <a href="{{url_for('get_drink')}}">
            <h5>Back to search</h5>
        </a>
    </div>
</div>
 
<!-- Modal for delete-->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>{{boba.drink_name}}</h4>
      <p>Are you sure you want to delete this drink?</p>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn waves-effect waves-green btn-flat" >Ooops- take me back!</button>
       <a id="delete_location" cclass="modal-close waves-effect waves-green btn-flat" href="{{url_for('delete_drink', boba_id=boba._id)}}" role="button">Delete this Drink</a>
    </div>
  </div>
</div>
{% endblock %}