{% extends 'base.html' %} 
{% block title %}Edit Drink{% endblock %}
{% block content %}
<!--If the user is logged in, they can add a drink to the database-->
<div class="container">
  <div class="row">
  <div class="col s12">
  <h2>Would you like to edit this drink?</h2>
    </div>
    </div>
    <form action="{{ url_for('update_drink', boba_id=boba._id) }}" method="POST">
      
      <!--Drink Name-->
    <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Drink Name" value="boba.drink_name" name="drink_name" id="drink-name" type="text" class="validate" required>
          <label for="drinkName">Drink Name</label>
        </div>
    </div>
      <!--Drink Type (ie. Milk Tea, Classic Tea, Slushie)-->
      <div class="row">
        <div class="input-field col s12 m4">
            <select class="icons">
                 <option value="" disabled selected>Choose a Drink Type</option>
                 {% for drink in drinks %}
                    {% if drinks.drink_type == boba.drink_type %}
                 <option value="{{drink_type.drinks}}" selected >{{drink_type.drinks}}</option>
                    {% else %}
                  <option value="{{drink_type.drinks}}" >{{drink_type.drinks}}</option>
                    {% endif %}
                 {% endfor %}
            </select>
            <label>Drink Type</label>
        </div>

    <!--Tea Type (ie. Black, Green, Oolong, Fruit)-->
        <div class="input-field col s12 m4">
            <select class="icons">
                <option value="" disabled selected>Choose a Tea Type</option>
                {% for tea_type in teas %}
                    {% if teas.tea_type == boba.tea_type %}
                 <option value="{{tea_type.teas}}" selected >{{tea_type.teas}}</option>
                    {% else %}
                  <option value="{{tea_type.teas}}">{{tea_type.teas}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label>Tea Type</label>
        </div>

     <!--Caffeine? True or False Value-->
        <div class="switch col s12 m4" name="decaf">
            <label>
                {% if decaf.is_true %}
            <input type="checkbox" id="is_decaf" name="is_decaf" checked>
                {% else %}
             <input type="checkbox" name="is_decaf">
                {% endif %}
            <span class="lever"></span>
                Decaf?
            </label>
        </div>
    </div>
     <!--Topping Type-->
     <div class="row">
        <div name="topping col s12">
            <h4>Choose a topping</h4>
            {% for top in toppings %}
                {% if toppings.top == boba.top %}
                 <p>
                    <label>
                        <input type="checkbox" value="{{top.toppings}}" checked/>
                        <span>{{top.toppings}}</span>
                    </label>
                </p>
                    {% else %}
                  <p>
                    <label>
                        <input type="checkbox" value="{{top.toppings}}"/>
                        <span>{{top.toppings}}</span>
                    </label>
                </p>
                    {% endif %}
                 {% endfor %}
        </div>
    </div>
     <!--Sweetness Level-->
     <div class="row">
        <div name="sweet_level col s12 m6">
        <h4>Choose your sweetness level</h4>
            {% for s in sweet %}
                {% if sweet.sweet == boba.sweet %}
                 <p>
                    <label>
                        <input type="checkbox" value="{{sweet.sweet}}" checked/>
                        <span>{{sweet.sweet}}</span>
                    </label>
                </p>
                    {% else %}
                  <p>
                    <label>
                        <input type="checkbox" value="{{sweet.sweet}}"/>
                        <span>{{sweet.sweet}}</span>
                    </label>
                </p>
                    {% endif %}
                 {% endfor %}
        </div>

    <!--Ice Level-->        
        <div name="ice col s12 m6">
            <h4>Choose your ice level</h4>
             {% for i in ice %}
                {% if ice.ice == boba.ice %}
                 <p>
                    <label>
                        <input type="checkbox" value="{{ice.ice}}" checked/>
                        <span>{{ice.ice}}</span>
                    </label>
                </p>
                    {% else %}
                  <p>
                    <label>
                        <input type="checkbox" value="{{ice.ice}}"/>
                        <span>{{ice.ice}}</span>
                    </label>
                </p>
                    {% endif %}
                 {% endfor %}
        </div>
    </div>
      <!--Submit Button-->
      <div class="row">
        <div class="col-12 center-align">
        <input type="submit" value="Add Bubble Tea">
          <a href="#modal1" class="waves-effect waves-light btn" type="submit" name="action"><i class="material-icons right">add</i>Delete Bubble Tea</a>
        </div>
    </div>

    
    </form>
  </div>
{% endblock %}